cycler==0.10.0
gdcm==1.1
inline==0.0.1
kiwisolver==1.2.0
matplotlib==3.3.0
MedPy==0.4.0
numpy==1.19.1
opencv-python==3.4.7.28
Pillow==8.1.0
pydicom==2.1.2
pylibjpeg==1.1.1
pylibjpeg-libjpeg==1.1.0
pylibjpeg-openjpeg==1.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.5.2
SimpleITK==1.2.4
six==1.15.0
